<h1>Marfan lipodystrophy syndrome</h1>
<p>This notebook gathers clinical data about individuals with Marfan lipodystrophy syndrome (<a href="https://omim.org/entry/616914">OMIM:616914</a>) from the publication <a href="https://pubmed.ncbi.nlm.nih.gov/31774634/" target="__blank">Lin et al., (2020)</a>,  Genetic and molecular mechanism for distinct clinical phenotypes conveyed by allelic truncating mutations implicated in FBN1. Mol Genet Genomic Med. 2020 Jan;8(1):e1023; PMID:31774634.
</p>
<p>We extracted the information from Table 2 (Clinical manifestations of previously reported and our patient XH601 with Marfanoid–progeroid–lipodystrophy (MPL) syndrome with allelic truncating mutations in FBN1). We copied this information into an Excel file that is used by this notebook.</p>

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None) # show entire column contents, important!
from IPython.display import display, HTML
from pyphetools.creation import *
from pyphetools.visualization import *
from pyphetools.validation import *
import pyphetools
print(f"Using pyphetools version {pyphetools.__version__}")

Using pyphetools version 0.9.57.dev0

In [2]:
import hpotk

store = hpotk.configure_ontology_store()
hpo = store.load_hpo(release='v2024-01-16')

In [3]:
PMID = "PMID:31774634"
title = "Genetic and molecular mechanism for distinct clinical phenotypes conveyed by allelic truncating mutations implicated in FBN1"
cite = Citation(pmid=PMID, title=title)

metadata = MetaData(created_by="ORCID:0000-0002-0736-9199", citation=cite)
metadata.default_versions_with_hpo(version=hpo.version)
print(f"HPO version {hpo.version}")

HPO version 2024-01-16

In [4]:
from pyphetools.creation import HpoExactConceptRecognizer

hpo_cr = HpoExactConceptRecognizer.from_hpo(hpo)

In [5]:
df = pd.read_table('input/Lin_2020_PMID_31774634.tsv')

In [6]:
dft = df.transpose()
dft.columns = dft.iloc[0]
dft.drop(dft.index[0], inplace=True)
dft['patient_id'] = dft.index
dft.head()

Feature,Age (year),Gender,Upper/lower segment,Proptosis,DPF,Myopia,Ectopia lentis,High-arched palate,Pectus excavatum,scoliosis/ kyphosis,...,Pes planus/valgus,Easy bruisability,MVPS,Arrested hydrocephalus,RGC,Dural ectasia,Hypertension,CHD,Variant,patient_id
Graul-Neumann et al. (2010),27,Female,"0,95",Y,NaN,Y,Bilateral,Y,NaN,Kyphosis,...,NaN,Y,Y,NaN,NaN,Lumbosacral,NaN,NaN,c.8155_8156del,Graul-Neumann et al. (2010)
Goldblatt et al. (2011),20,Male,NaN,Y,NaN,Y,Bilateral,Y,Y,NaN,...,Pes planus,Y,N,Y,NaN,NaN,NaN,NaN,c.8156_8175del,Goldblatt et al. (2011)
Horn and Robinson et al. (2011),3.5,Female,NaN,Y,NaN,N,N,Y,NaN,NaN,...,NaN,NaN,N,Y,NaN,NaN,NaN,NaN,c.8226+1G>T,Horn and Robinson et al. (2011)
Takenouchi et al. (2013),10,Female,NaN,Y,NaN,Y,N,NaN,Y,NaN,...,NaN,NaN,N,Y,Hydronephrosis,Y,Y,NaN,c.8175_8182del,Takenouchi et al. (2013)
Jacquinet et al. (2014),16,Female,NaN,Y,NaN,Severe,N,NaN,N,N,...,Pes valgus,NaN,N,NaN,N,Y,NaN,NaN,c.8226+1G>A,Jacquinet et al. (2014)

In [7]:
# The following was used to help create the code
#output = OptionColumnMapper.autoformat(df=dft, concept_recognizer=hpo_cr)
#print(output)

In [8]:
column_mapper_list = list()

In [9]:
# Abnormal upper to lower segment ratio HP:0012772
# abnormal is considered less than 0.85
upper_lower_segment_d = {}
excluded_d = {'0': 'Abnormal upper to lower segment ratio',
 '95': 'Abnormal upper to lower segment ratio',
 'nan': 'Abnormal upper to lower segment ratio',
 '0.99': 'Abnormal upper to lower segment ratio',
 '0.8': 'Abnormal upper to lower segment ratio',
 '0.87': 'Abnormal upper to lower segment ratio'}
upper_lower_segmentMapper = OptionColumnMapper(column_name='Upper/lower segment',
                                               concept_recognizer=hpo_cr, option_d=upper_lower_segment_d, excluded_d=excluded_d)
column_mapper_list.append(upper_lower_segmentMapper)
upper_lower_segmentMapper.preview_column(dft)

                                                         mapping count
0  Abnormal upper to lower segment ratio (HP:0012772) (excluded)     7

In [10]:
# Proptosis HP:0000520
proptosisMapper = SimpleColumnMapper(column_name='Proptosis',hpo_id="HP:0000520", hpo_label="Proptosis", observed="Y", excluded="N")
column_mapper_list.append(proptosisMapper)
proptosisMapper.preview_column(dft)

                                                        mapping count
0  original value: "Y" -> HP: Proptosis (HP:0000520) (observed)     8

In [11]:
# DPF: Downslanted palpebral fissures HP:0000494
dpfMapper = SimpleColumnMapper(column_name='DPF',hpo_id="HP:0000494", hpo_label="Downslanted palpebral fissures", observed="Y", excluded="N")
column_mapper_list.append(dpfMapper)
dpfMapper.preview_column(dft)

,mapping,count
0,"original value: ""nan"" -> HP: Downslanted palpebral fissures (HP:0000494) (not measured)",7
1,"original value: ""Y"" -> HP: Downslanted palpebral fissures (HP:0000494) (observed)",1

In [12]:
myopia_d = {'Y': 'Myopia',
 'Severe': 'High myopia'}
excluded_d = {'N': 'Myopia'}
myopiaMapper = OptionColumnMapper(column_name='Myopia',concept_recognizer=hpo_cr, option_d=myopia_d, excluded_d=excluded_d)
column_mapper_list.append(myopiaMapper)
myopiaMapper.preview_column(dft)

                               mapping count
0       Myopia (HP:0000545) (observed)     6
1  High myopia (HP:0011003) (observed)     1

In [13]:
# Ectopia lentis HP:0001083
ectopia_lentis_d = {'Bilateral': 'Ectopia lentis',
 'Left eye': 'Ectopia lentis'}
excluded_d = {'N': 'Ectopia lentis'}
ectopia_lentis_Mapper = OptionColumnMapper(column_name='Ectopia lentis ',concept_recognizer=hpo_cr, option_d=ectopia_lentis_d, excluded_d=excluded_d)
column_mapper_list.append(ectopia_lentis_Mapper)
ectopia_lentis_Mapper.preview_column(dft)

                                  mapping count
0  Ectopia lentis (HP:0001083) (observed)     3

In [14]:
# High palate HP:0000218
high_palateMapper = SimpleColumnMapper(column_name='High-arched palate',hpo_id="HP:0000218", hpo_label="High palate", observed="Y", excluded="N")
column_mapper_list.append(high_palateMapper)
high_palateMapper.preview_column(dft)

                                                                mapping count
0        original value: "Y" -> HP: High palate (HP:0000218) (observed)     4
1  original value: "nan" -> HP: High palate (HP:0000218) (not measured)     3
2       original value: "N " -> HP: High palate (HP:0000218) (excluded)     1

In [15]:
# Pectus excavatum HP:0000767
pectus_excavatumMapper = SimpleColumnMapper(column_name='Pectus excavatum',hpo_id="HP:0000767", hpo_label="Pectus excavatum", observed="Y", excluded="N")
column_mapper_list.append(pectus_excavatumMapper)
pectus_excavatumMapper.preview_column(dft)

,mapping,count
0,"original value: ""nan"" -> HP: Pectus excavatum (HP:0000767) (not measured)",2
1,"original value: ""Y"" -> HP: Pectus excavatum (HP:0000767) (observed)",3
2,"original value: ""N "" -> HP: Pectus excavatum (HP:0000767) (excluded)",3

In [16]:
# not encoding 'Cobb angle (degrees)', because it is included in Scoliosis
scoliosis_kyphosis_d = {'Kyphosis': 'Kyphosis',
 'Scoliosis': 'Scoliosis',
 'Severe scoliosis': 'Scoliosis'}
excluded_d = {'N': 'Scoliosis' }
scoliosis_kyphosisMapper = OptionColumnMapper(column_name='scoliosis/ kyphosis',concept_recognizer=hpo_cr, option_d=scoliosis_kyphosis_d, excluded_d=excluded_d)
column_mapper_list.append(scoliosis_kyphosisMapper)
scoliosis_kyphosisMapper.preview_column(dft)

                             mapping count
0   Kyphosis (HP:0002808) (observed)     1
1  Scoliosis (HP:0002650) (observed)     3

In [17]:
# Not encoding 'Thumb sign' and 'Wrist sign' because this is included in Arachnodactyly

In [18]:
# bmjd =  bilateral metacarpophalangeal joint dislocation -- Subluxation of metacarpal phalangeal joints HP:0004294
bmjdMapper = SimpleColumnMapper(column_name='BMJD',hpo_id="HP:0004294", hpo_label="Subluxation of metacarpal phalangeal joints", observed="Y", excluded="N")
column_mapper_list.append(bmjdMapper)
bmjdMapper.preview_column(dft)

,mapping,count
0,"original value: ""nan"" -> HP: Subluxation of metacarpal phalangeal joints (HP:0004294) (not measured)",7
1,"original value: ""Y"" -> HP: Subluxation of metacarpal phalangeal joints (HP:0004294) (observed)",1

In [19]:
# Interosseus muscle atrophy HP:0007181
interosseous_atrophyMapper =  SimpleColumnMapper(column_name='Interosseous atrophy',hpo_id="HP:0007181", hpo_label="Interosseus muscle atrophy", observed="Y", excluded="N")
column_mapper_list.append(interosseous_atrophyMapper)
interosseous_atrophyMapper.preview_column(dft)

,mapping,count
0,"original value: ""nan"" -> HP: Interosseus muscle atrophy (HP:0007181) (not measured)",7
1,"original value: ""Y"" -> HP: Interosseus muscle atrophy (HP:0007181) (observed)",1

In [20]:
# Arachnodactyly HP:0001166
arachnodactylyMapper = SimpleColumnMapper(column_name='Arachnodactyly',hpo_id="HP:0001166", hpo_label="Arachnodactyly", observed="Y", excluded="N")
column_mapper_list.append(arachnodactylyMapper)
arachnodactylyMapper.preview_column(dft)

,mapping,count
0,"original value: ""nan"" -> HP: Arachnodactyly (HP:0001166) (not measured)",5
1,"original value: ""Y"" -> HP: Arachnodactyly (HP:0001166) (observed)",3

In [21]:
# Finger joint hypermobility HP:0006094
hyperextensible_digitsMapper = SimpleColumnMapper(column_name='Hyperextensible digits',hpo_id="HP:0006094", hpo_label="Finger joint hypermobility", observed="Y", excluded="N")
column_mapper_list.append(hyperextensible_digitsMapper)
hyperextensible_digitsMapper.preview_column(dft)

,mapping,count
0,"original value: ""nan"" -> HP: Finger joint hypermobility (HP:0006094) (not measured)",2
1,"original value: ""Y"" -> HP: Finger joint hypermobility (HP:0006094) (observed)",6

In [22]:
pes_planus_valgus_d = {
 'Pes planus': 'Pes planus',
 'Pes valgus': 'Pes valgus'}
pes_planus_valgusMapper = OptionColumnMapper(column_name='Pes planus/valgus',concept_recognizer=hpo_cr, option_d=pes_planus_valgus_d)
column_mapper_list.append(pes_planus_valgusMapper)
pes_planus_valgusMapper.preview_column(dft)

                              mapping count
0  Pes planus (HP:0001763) (observed)     2
1  Pes valgus (HP:0008081) (observed)     1

In [23]:
# Bruising susceptibility HP:0000978
easy_bruisabilityMapper = SimpleColumnMapper(column_name='Easy bruisability',hpo_id="HP:0000978", hpo_label="Bruising susceptibility", observed="Y", excluded="N")
column_mapper_list.append(easy_bruisabilityMapper)
easy_bruisabilityMapper.preview_column(dft)

,mapping,count
0,"original value: ""Y"" -> HP: Bruising susceptibility (HP:0000978) (observed)",3
1,"original value: ""nan"" -> HP: Bruising susceptibility (HP:0000978) (not measured)",3
2,"original value: ""N "" -> HP: Bruising susceptibility (HP:0000978) (excluded)",2

In [24]:
# MVPS, mitral valve prolapse syndrome - Mitral valve prolapse HP:0001634
mvpsMapper = SimpleColumnMapper(column_name='MVPS',hpo_id="HP:0001634", hpo_label="Mitral valve prolapse", observed="Y", excluded="N")
column_mapper_list.append(mvpsMapper)
mvpsMapper.preview_column(dft)

,mapping,count
0,"original value: ""Y"" -> HP: Mitral valve prolapse (HP:0001634) (observed)",3
1,"original value: ""N "" -> HP: Mitral valve prolapse (HP:0001634) (excluded)",4
2,"original value: ""nan"" -> HP: Mitral valve prolapse (HP:0001634) (not measured)",1

In [25]:
# Hydrocephalus HP:0000238
arrested_hydrocephalusMapper = SimpleColumnMapper(column_name='Arrested hydrocephalus',hpo_id="HP:0000238", hpo_label="Hydrocephalus", observed="Y", excluded="N")
column_mapper_list.append(arrested_hydrocephalusMapper)
arrested_hydrocephalusMapper.preview_column(dft)

,mapping,count
0,"original value: ""nan"" -> HP: Hydrocephalus (HP:0000238) (not measured)",5
1,"original value: ""Y"" -> HP: Hydrocephalus (HP:0000238) (observed)",3

In [26]:
rgc_d = {'Hydronephrosis': 'Hydronephrosis'}
excluded_d = {  'N': 'Abnormality of the kidney'}
rgcMapper = OptionColumnMapper(column_name='RGC',concept_recognizer=hpo_cr, option_d=rgc_d, excluded_d=excluded_d)
column_mapper_list.append(rgcMapper)
rgcMapper.preview_column(dft)

                                  mapping count
0  Hydronephrosis (HP:0000126) (observed)     1

In [27]:
#Dural ectasia HP:0100775
dural_ectasia_d = {'Lumbosacral': 'Dural ectasia', 'Y': 'Dural ectasia'}
excluded_d = {"N":'Dural ectasia'}
dural_ectasiaMapper = OptionColumnMapper(column_name='Dural ectasia',
                                         concept_recognizer=hpo_cr, option_d=dural_ectasia_d, excluded_d=excluded_d)
column_mapper_list.append(dural_ectasiaMapper)
dural_ectasiaMapper.preview_column(dft)

                                 mapping count
0  Dural ectasia (HP:0100775) (observed)     3

In [28]:
# Hypertension HP:0000822
hypertensionMapper = SimpleColumnMapper(column_name='Hypertension',hpo_id="HP:0000822", hpo_label="Hypertension", observed='Y', excluded='N')
column_mapper_list.append(hypertensionMapper)
hypertensionMapper.preview_column(dft)

                                                                 mapping count
0  original value: "nan" -> HP: Hypertension (HP:0000822) (not measured)     6
1        original value: "Y" -> HP: Hypertension (HP:0000822) (observed)     1
2       original value: "N " -> HP: Hypertension (HP:0000822) (excluded)     1

In [29]:
# CHD = Congenital hip dislocation HP:0001374
chdMapper = SimpleColumnMapper(column_name='CHD',hpo_id="HP:0001374", hpo_label='Congenital hip dislocation', observed='Y', excluded='N')
column_mapper_list.append(chdMapper)
chdMapper.preview_column(dft)

,mapping,count
0,"original value: ""nan"" -> HP: Congenital hip dislocation (HP:0001374) (not measured)",7
1,"original value: ""Y"" -> HP: Congenital hip dislocation (HP:0001374) (observed)",1

<h2>Variants</h2>
<p>Note that the variant reported as c.8206_8027insA should be
is NM_000138.5:c.8206dup, NP_000129.3:p.(Thr2736AsnfsTer2) - checked with VariantValidator and in the original publication. We corrected this in the input file.
</p>

In [30]:
fbn1_transcript='NM_000138.5' 
vvalidator = VariantValidator(genome_build="hg38", transcript=fbn1_transcript)
variant_d = {}
for v in dft['Variant'].unique():
    var = vvalidator.encode_hgvs(v)
    variant_d[v] = var
print(f"We encoded {len(variant_d)} variants")
    
varMapper = VariantColumnMapper(variant_d=variant_d,
                                variant_column_name='Variant', 
                                default_genotype='heterozygous')
#varMapper.preview_column(column=dft['Variant'])

https://rest.variantvalidator.org/VariantValidator/variantvalidator/hg38/NM_000138.5%3Ac.8155_8156del/NM_000138.5?content-type=application%2Fjson
https://rest.variantvalidator.org/VariantValidator/variantvalidator/hg38/NM_000138.5%3Ac.8156_8175del/NM_000138.5?content-type=application%2Fjson
https://rest.variantvalidator.org/VariantValidator/variantvalidator/hg38/NM_000138.5%3Ac.8226+1G>T/NM_000138.5?content-type=application%2Fjson
https://rest.variantvalidator.org/VariantValidator/variantvalidator/hg38/NM_000138.5%3Ac.8175_8182del/NM_000138.5?content-type=application%2Fjson
https://rest.variantvalidator.org/VariantValidator/variantvalidator/hg38/NM_000138.5%3Ac.8226+1G>A/NM_000138.5?content-type=application%2Fjson
https://rest.variantvalidator.org/VariantValidator/variantvalidator/hg38/NM_000138.5%3Ac.8206dup/NM_000138.5?content-type=application%2Fjson
https://rest.variantvalidator.org/VariantValidator/variantvalidator/hg38/NM_000138.5%3Ac.8275_8291del/NM_000138.5?content-type=application%2Fjson
We encoded 7 variants

In [31]:
ageMapper = AgeColumnMapper.by_year("Age (year)")
#ageMapper.preview_column(dft["Age (year)"])

In [32]:
sexMapper = SexColumnMapper(male_symbol="Male", female_symbol="Female", column_name="Gender")
#sexMapper.preview_column(dft["Gender"])

In [33]:
pmid = "PMID:31774634"
encoder = CohortEncoder(df=dft, 
                        hpo_cr=hpo_cr, 
                        column_mapper_list=column_mapper_list, 
                        individual_column_name="patient_id", 
                        age_of_onset_mapper=ageMapper, 
                        sexmapper=sexMapper,
                        variant_mapper=varMapper,
                        metadata=metadata)
omim_id = "OMIM:616914"
omim_label = "Marfan lipodystrophy syndrome"
mls = Disease(disease_id=omim_id, disease_label=omim_label)
encoder.set_disease(disease=mls)

In [34]:
individuals = encoder.get_individuals()
cvalidator = CohortValidator(cohort=individuals, ontology=hpo, min_hpo=1, allelic_requirement=AllelicRequirement.MONO_ALLELIC)
qc = QcVisualizer(cohort_validator=cvalidator)
display(HTML(qc.to_summary_html()))

In [35]:
individuals = cvalidator.get_error_free_individual_list()

In [36]:
phenopackets = [i.to_ga4gh_phenopacket(metadata=metadata.to_ga4gh()) for i in individuals]
table = PhenopacketTable(phenopacket_list=phenopackets)
display(HTML(table.to_html()))

In [37]:
output_directory = "phenopackets"
Individual.output_individuals_as_phenopackets(individual_list=individuals,
                                              metadata=metadata,
                                              outdir=output_directory)

We output 8 GA4GH phenopackets to the directory phenopackets