# SLC4A1
Distal renal tubular acidosis 4 with hemolytic anemia 	[OMIM:611590](https://www.omim.org/entry/611590)

Data summarized from several publications with case reports or small cohorts.

In [1]:
import pandas as pd
from IPython.display import display, HTML
pd.set_option('display.max_colwidth', None) # show entire column contents, important!
from collections import defaultdict
from pyphetools.creation import *
from pyphetools.visualization import IndividualTable, QcVisualizer
from pyphetools.validation import *
import pyphetools
print(f"Using pyphetools version {pyphetools.__version__}")

Using pyphetools version 0.9.20

In [2]:
parser = HpoParser(hpo_json_file="../hp.json")
hpo_cr = parser.get_hpo_concept_recognizer()
hpo_version = parser.get_version()
hpo_ontology = parser.get_ontology()
created_by="ORCID:0000-0002-0736-9199"
print(f"HPO version {hpo_version}")

HPO version 2023-10-09

In [3]:
df = pd.read_excel("input/slc4a1_rta_individuals.xlsx")
df.head(2)

,PMID,title,individual_id,Comment,disease_id,disease_label,transcript,allele_1,allele_2,variant.comment,...,Stomatocytosis,Polychromasia,Generalized edema,Ascites,Neonatal hyperbilirubinemia,Hyperbilirubinemia,Elevated circulating alkaline phosphatase concentration,Elliptocytosis,Impaired urinary acidification,Decreased serum bicarbonate concentration
0,str,str,str,optional str,str,str,str,HGVS str,HGVS str,optional str,...,HP:0004446,HP:0034609,HP:0007430,HP:0001541,HP:0003265,HP:0002904,HP:0003155,HP:0004445,HP:0031033,HP:0032066
1,PMID:9854053,Novel AE1 mutations in recessive distal renal tubular acidosis. Loss-of-function is rescued by glycophorin A,II:2,coexisting Hb E/E,OMIM:611590,"Renal tubular acidosis, distal, with hemolytic anemia",NM_000342.4,c.2102G>A,c.2102G>A,NM_000342.4(SLC4A1):c.2102G>A (p.Gly701Asp),...,observed,observed,excluded,excluded,excluded,NaN,NaN,NaN,observed,NaN

In [4]:
from pyphetools.creation import CaseTemplateEncoder
encoder = CaseTemplateEncoder(df=df, hpo_cr=hpo_cr, created_by=created_by)

Created encoders for 40 fields

In [5]:
individuals = encoder.get_individuals()

In [6]:
vmanager = VariantManager(df=df,
                          individual_column_name="individual_id",
                          cohort_name="SLC4A1",
                          transcript="NM_000342.4",
                          allele_1_column_name="allele_1",
                          allele_2_column_name="allele_2")

In [7]:
vmanager.to_summary()

     status  count                                          alleles
0    mapped      4  c.1462G>A, c.2573C>A, c.2102G>A, c.1199_1225del
1  unmapped      0

In [8]:
vmanager.add_variants_to_individuals(individuals)
cvalidator = CohortValidator(cohort=individuals, ontology=hpo_ontology, min_hpo=1, allelic_requirement=AllelicRequirement.BI_ALLELIC)
qc = QcVisualizer(cohort_validator=cvalidator)
display(HTML(qc.to_summary_html()))

In [9]:
individuals = cvalidator.get_error_free_individual_list()
table = IndividualTable(individuals)
display(HTML(table.to_html()))

In [11]:
encoder.output_individuals_as_phenopackets(individuals)

We output 7 GA4GH phenopackets to the directory phenopackets